<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/login.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action = "/login" method = "post">
        <div class="input-group">
            <input type="email" id="email" required minlength="7" maxlength="27" name = "email">
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" required minlength="4" maxlength="10" name = "password">
            <label for="password">Password</label>
        </div>
        <button type="submit">Login</button>
        <div class="forgot-password">
            <a href="/register">Forgot Password?</a>
        </div>
    </form>
</div>
</body>
</html>