<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Board</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/whiteboard.css">
</head>
<body>
    <form action = "/logout">
    <button id = "logout">Logout</button>
    </form>
    <h1>Hello <%= user.data.username %>👋</h1>
    <div id = "container">
    <canvas id = "canvas"></canvas>
    </div>
    <script src = "/javascripts/whiteboard.js"></script>
</body>
</html>